<div class="col-md-12">

	<center>
		<h2> 
			<%= @user.user_name %> 
			<% if @user.admin %>
				<strong> (Administrator) </strong>
			<% end %>
		</h2>
		<h3> # Reviews: <strong> <%= @user.num_reviews %> </strong> </h3>
		<h3> Average Rating: <strong> <%= @user.avg_rating %> </strong> </h3>
		<h3> Email Address: <strong> <%= @user.email %> </strong> </h3>
	</center>

	<center> 
		<h3> Reviews </h3>
	</center>

	<table class="table table-condensed">
		<tr>
			<td>Event Name</td>
			<td>Review Rating</td>
			<td>Thumbs Up / Down</td>
			<td>Review Text</td>
		</tr>
		<% @reviews.zip(@events).each do |review, event| %>
			<tr>
				<td><%= link_to event.name, event_path(event.id) %></td>
				<td><%= review.rating %></td>
				<td><%= review.thumbs == 1 ? "Up" : (review.thumbs == 2 ? "Down" : "" ) %></td>
				<td><%= review.review %></td>
			</tr>
		<% end %>
	</table>

</div>