<div class="col-md-12">

	<table class="table table-condensed">
		<tr>
			<td>Event Name</td>
			<td># Thumbs Up</td>
			<td># Thumbs Down</td>
			<% if @cur_user.admin %>
				<td></td>
				<td></td>
			<% end %>
		</tr>
		<% @events.each do |event| %>
		<tr>
			<td><%= link_to event.name, event_path(event.id) %></td>
			<td><%= event.thumbs_up %></td>
			<td><%= event.thumbs_down %></td>
			<% if @cur_user.admin %>
	 			<td><%= link_to "Edit", edit_event_path(event.id) %></td>
	 			<td><%= button_to "Delete", event, method: :delete %> </td>
	 		<% end %>
		</tr>
		<% end %>
	</table>
	
	<% if @cur_user.admin %>
		<form action=<%=new_event_path%>>
			<div class="form-group">
				 	<%= submit_tag "Add New Event", options = {class: "btn btn-default", style: "display: block; width: 100%;"}%>
			</div>
		</form> 
	<% end %>

</div>