<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<table>
	<tr>
		<td>name</td>
		<td>attendance</td>
		<td>thumbs_up</td>
		<td>thumbs_down</td>
	</tr>
	<% @events.each do |event| %>
	<tr>
		<td><%= event.name %></td>
		<td><%= event.attendance %> | (I attended) - (I did not attend)</td>
		<td><%= event.thumbs_up %></td>
		<td><%= event.thumbs_down %></td>
		<td><%= link_to "view", event_path(event.id) %></td>
		<% if @cur_user.admin %>
 			<td><%= link_to "edit", edit_event_path(event.id) %></td>
 			<td><%= button_to "delete", event, method: :delete %> </td>
 		<% end %>
	</tr>
	<% end %>

	<% if @cur_user.admin %>
		<a href="/events/new">Add New Event</a>
	<% end %>
</table>