<h1>Adding a new event...</h1>

<% if @cur_user.admin %>

	<%= form_for(@event) do |f| %>
	    <div class="field">
	        <p>name</p> 
	        <%= f.text_field :name%>
	    </div>
	    <div class="field">
	        <p>description</p> 
	        <%= f.text_field :description%>
	    </div>
	    <div class="field">
	        <p>date</p> 
	        <%= f.date_field :date%>
	    </div>
	    <div class="field">
	        <p>time</p> 
	        <%= f.time_field :time%>
	    </div>

	    <div class="actions">
	        <%= f.submit %>
	    </div>
	<% end %>

<% else %>
	PERMISSION DENIED.
<% end %>
