<div class="col-md-12">

	<%= form_tag("/search", method: "get") do %>
		Search Parameters:
		<%= hidden_field_tag :show_events, false %>
		<%= hidden_field_tag :show_reviews, false %>
		<%= hidden_field_tag :show_users, false %>
		<%= check_box_tag(:show_events, value = true, checked = @show_events) %>
		<%= label_tag(:show_events, "Show Events") %>
		<%= check_box_tag(:show_reviews, value = true, checked = @show_reviews) %>
		<%= label_tag(:show_reviews, "Show Reviews") %>
		<%= check_box_tag(:show_users, value = true, checked = @show_users) %>
		<%= label_tag(:show_users, "Show Users") %>
		<%= text_field_tag :search %>
		<%= submit_tag "Search"%>
	<% end %>

	<% if @show_events %>
		<h2> Events </h2>
		
		<table class="table table-condensed">
			<tr>
				<td>Name</td>
				<td># Thumbs Up</td>
				<td># Thumbs Down</td>
			</tr>
			<% @events.each do |event| %>
			<tr>
				<td><%= link_to event.name, event_path(event.id) %></td>
				<td><%= event.thumbs_up %></td>
				<td><%= event.thumbs_down %></td>
			</tr>
			<% end %>
		</table>
	<% end %>

	<% if @show_reviews %>
		<h2> Reviews </h2>
		
		<table class="table table-condensed">
			<tr>
				<td>Event Name</td>
				<td>User Name</td>
				<td>Rating</td>
				<td>Thumbs Up / Down</td>
				<td>Review Text</td>
			</tr>
			<% @reviews.zip(@review_users, @review_events).each do |review, user, event|  %>
			<tr>
				<td><%= link_to event.name, event_path(event.id) %></td>
				<td><%= link_to user.user_name, user_path(user.id) %></td>
				<td><%= review.rating %></td>
				<td><%= review.thumbs == 1 ? "Up" : (review.thumbs == 2 ? "Down" : "" ) %></td>
				<td><%= review.review %></td>
			</tr> <br>
			<% end %>
		</table>
	<% end %>

	<% if @show_users %>
		<h2> Users </h2>
		<table class="table table-condensed">
			<tr>
				<td>User Name</td>
				<td>Email</td>
				<td>Number of Reviews</td>
				<td>Average Rating</td>
				<td>Administrator?</td>
			</tr>
			<% @users.each do |user| %>
			<tr>
				<td><%= link_to user.user_name, user_path(user.id) %></td>
				<td><%= user.email %></td>
				<td><%= user.num_reviews %></td>
				<td><%= user.avg_rating %></td>
				<td><%= user.admin %></td>
			</tr>
			<% end %>
		</table>
	<% end %>

	

</div>










